@charset "utf-8";
@import "compass";


h1, h2, h3, h4, label, div, button, table, th{
  font-family:  "Gob", "Helvetica Neue", Helvetica, 'lucida grande', tahoma, verdana, arial, sans-serif!important;
}

.va{
  height: 100%;
  margin-left: -4px;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
}

.inline{
  margin: 0!important;
  padding: 0;
  @include inline-block;
}

.no_float{
  float: none!important;
  @extend .inline;
}

.to_right{
  text-align: right;
}
.to_left{
  text-align: left;
}







