@import "compass";
$gray_box: #efefef;
$text_blue: #0099ce;
$text_gray: #686968;
$bg_blue: #0099cf;

.icons-sprite{@include inline-block;}
$icon-layout:smart;
$icons-sprite-dimensions: true;
@import "icons/*.png";
@include all-icons-sprites;

.title_box_blue, .title_box_gray{
  font-size: 14px;
  padding: 3px;
  display: inline-block;
  span{
    font-weight: bold;
  }
}
.title_box_blue{
  color: white;
  background-color: $bg_blue;
}
.title_box_gray{
  color: $text_blue;
  background-color: $gray_box;
}

#header{
  background-color: #eaeaea;
  color: $text_blue;
  padding: 15px;
  white-space: nowrap;

  h1{
    font-size: 20px;
    span{
      font-weight: bold;
    }
  }

  .logo{
    @include inline-block(bottom);
    &.sar{
      text-align: left;
      width: 65%;
    }
    &.corp{
      width: 35%;
      text-align: right;
    }
  }

}
#menu_logged{
  background-color: $bg_blue;
  color: white;
  margin-bottom: 50px;
  .item_menu{
    .icon{
      @extend .icons-sprite;
      &.home{@extend .icons-inicio_bco;}
      &.user{@extend .icons-usuario;}
      &.center{@extend .icons-centro;}
      &.date{@extend .icons-date_bco;}
      &.close{@extend .icons-salir;}
    }
    &:hover:not(.active){
      .icon.home{@extend .icons-inicio_az;}
      .icon.user{@extend .icons-usuario;}
      .icon.center{@extend .icons-centro;}
      .icon.date{@extend .icons-date_az;}
      .icon.close{@extend .icons-salir;}
    }
  }
}

section#login{
  margin-top: 100px;

  .box_login{
    background-color: $gray_box;
    padding: 10px 70px;
    color: $text_blue;
    position: relative;
    label, h2{
      color: $text_blue;
      font-size: 16px;
    }
    input{
      font-size: 16px;
    }
    .buttons{
      text-align: right;
    }
    .header_log{
      white-space: nowrap;
      .arrow{
        position: absolute;
        left: 0;
        top: 14px;
        color: white;
        font-size: 25px;
      }
      .text, .icon_login{
        @include inline-block(top);
      }
      .text{
        font-size: 25px;
        width: 65%;
      }
      .icon_login{
        text-align: right;
        width: 35%;
      }
    }
  }

  .banner_box{
    min-height: 163px;
    border: 1px solid gray;
    margin-bottom: 10px;
  }
}

.input_search{
  max-width: 40%;
  float: right;
  position: relative;
  input{padding-left: 45px!important;}
  .search_icon{
    position: absolute;
    left: 5px;
    bottom: 18px;
  }
}

#paginate_table{

  text-align: center;
  .pagination{
    @include inline-block;
  }
}

#menu_form{
  font-size: 0;
  background-color: $gray_box;
  width: 100%;
  display: table;
  margin: 0;
  margin-bottom: 40px;
  li{
    font-size: 12px;
    margin: 0;
    width: 11%;
    display: inline-block;
    vertical-align: middle;
    color: $text_blue;
    display: table-cell;
    padding: 0 10px;
    text-align: center;
    border-right: 3px solid white;
    &.select{
      color: white;
      background-color: $bg_blue;
    }
    &:last-child{
      border-right: none;
    }
  }
}

.forms{
  margin-top: 40px!important;

  .step{
    color: $text_blue;
    font-size: 20px;
    padding: 10px 0;
  }
  label{
    padding: 10px 0;
  }
}

.general_table{
  .sort{
    position: relative;
    padding-right: 20px;
    &:after{
      content: '';
      width: 10px;
      height: 10px;
      background-color: $bg_blue;
      position: absolute;
      top: 50%;
      right: 7px;
      margin-top: -5px;
    }
  }

  thead th{
    color: $text_blue;
    text-align: center;
  }

  tbody td{
    text-align: center;
  }
}