$gray_box: #efefef;
$text_blue: #0099cf;
$text_gray: #686968;
$bg_blue: #0099cf;

.title_box_blue, .title_box_gray{
  font-size: 14px;
  padding: 3px;
  display: inline-block;
  span{
    font-weight: bold;
  }
}
.title_box_blue{
  color: white;
  background-color: $bg_blue;
}
.title_box_gray{
  color: $text_blue;
  background-color: $gray_box;
}

#header{
  background-color: #eaeaea;
  color: $text_blue;

  h1{
    font-size: 20px;
    span{
      font-weight: bold;
    }
  }

  .header_logo{
    max-width: 250px;
    width: 100%;
  }

}
#menu_logged{
  background-color: $bg_blue;
  color: white;
  margin-bottom: 50px;
}

.box_login{
  margin-top: 100px;
  background-color: $gray_box;
  padding: 10px 70px;
  color: $text_blue;
  label, h2{
    color: $text_blue;
  }
  .buttons{
    text-align: right;
  }
}

input.cases_search{
  max-width: 40%;
  float: right;
  padding-left: 60px!important;
}

#paginate_table{

  ul{
    li{
      display: inline-block;
      vertical-align: bottom;
      zoom: 1;
      color: $text_gray;
      padding: 1px 5px;
      &.select{
        color: white;
        background-color: $bg_blue;
        border-radius: 2px;
      }
    }
  }
}

#menu_form{
  font-size: 0;
  background-color: $gray_box;
  width: 100%;
  display: table;
  margin: 0;
  margin-bottom: 40px;
  li{
    font-size: 12px;
    margin: 0;
    width: 11%;
    display: inline-block;
    vertical-align: middle;
    color: $text_blue;
    display: table-cell;
    padding: 0 10px;
    text-align: center;
    border-right: 3px solid white;
    &.select{
      color: white;
      background-color: $bg_blue;
    }
    &:last-child{
      border-right: none;
    }
  }
}

.forms{
  margin-top: 40px!important;

  .step{
    color: $text_blue;
    font-size: 20px;
    padding: 10px 0;
  }
  label{
    padding: 10px 0;
  }
}