<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %title="SAR"
        = stylesheet_link_tag "normalize", "general", "style", "foundation", "font"
        = javascript_include_tag  "all"

  %body{:class => page_classes}
    #wrapper
      #header
        .row
          .small-12.large-12.columns
            .logo.sar=image_tag 'icons/logo_sar.png'
            .logo.corp=image_tag 'icons/logo_corp.png'


      = yield
    %footer
      .line_footer