-menu = ["SAR", "Citaci贸n", "Detalle del Caso", "Intervanci贸n Breve", "Valoraci贸n Integral", "Cerrar", "Intervenci贸n Especial", "Derivar", "Egreso"]

-select = "SAR"

%ul#menu_form
  -menu.each do |m|
    %li{class: m==select ? "select" : ''}=m
