#menu_logged
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
        %h1.item_menu.active
          %a{:href => "index.html"}
            .icon.home
            Inicio
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      %ul.left
        %li.item_menu
          %a{:href => "#"}
            .icon.user
            Nombre de Usuario

        %li.item_menu
          %a{:href => "#"}
            .icon.center
            Nombre de Centro


      %ul.right
        %li.item_menu
          %a{:href => "#"}
            .icon.date
            09/03/2014
        %li.item_menu
          %a{:href => "#"}
            .icon.close
            Cerrar Sesión
      / Left Nav Section

  / %nav.top-bar{"data-topbar" => "", :role => "navigation"}
  /   %ul.title-area
  /     %li.name
  /       %h1
  /         %a{:href => "#"} My Site
  /     / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
  /     %li.toggle-topbar.menu-icon
  /   %a{:href => "#"}
  /     %span Menu
  /   %section.top-bar-section
  /     %ul.left
  /       %li.item_menu.active
  /         %a{:href => "index.html"}
  /           .icon.home
  /           Inicio






