#menu_logged
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}

    %section.top-bar-section
      %ul.left
        %li.item_menu.active
          %a{:href => "#"}
            .icon.home
            Inicio

        %li.item_menu
          %a{:href => "#"}
            .icon.user
            Nombre de Usuario

        %li.item_menu
          %a{:href => "#"}
            .icon.center
            Nombre de Centro


      %ul.right
        %li.item_menu
          %a{:href => "#"}
            .icon.date
            09/03/2014
        %li.item_menu
          %a{:href => "#"}
            .icon.close
            Cerrar Sesión


