=partial 'partials/menu_logged'
%section#cases
  .row
    .small-12.large-12.columns.right
      %form{name: "login", action: "#", method: "post"}
        .input_search
          %input{type: "text", name: "cases_search", placeholder: "Búsqueda de casos"}
          .search_icon.icons-sprite.icons-buscar

  .row
    .small-12.large-12.columns
      %table.general_table
        %thead
          %tr
            %th.sort.desc{:width => "16%"} Causa
            %th.sort.desc{:width => "14%"} Nombre
            %th.sort{:width => "14%"} Tipo de Delito
            %th.sort.desc{:width => "14%"} Fecha de ingreso
            %th.sort{:width => "14%"} Tiempo de intervención
            %th.sort{:width => "14%"} Estado Actual
            %th.sort{:width => "14%"} Origen
        %tbody
          %tr
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
          %tr
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
          %tr
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...

    .small-12.large-12.columns.right
      %button Ingresar Caso

  =partial 'partials/paginate_table'
