=partial 'partials/menu_logged'
%section#cases
  .row
    .small-2.columns
      %label.filter Fecha de Inicio

    .small-2.columns
      .block_input_icon
        .icon.icons-sprite.icons-date_az
        %input.calendar{type: "text", name: "fecha_denuncia"}

    .small-1.columns
      %label.filter caso

    .small-3.columns
      %select{name: "caso"}
        -(1..3).each do |r|
          %option caso

    .small-1.columns
      %label.filter Centro

    .small-3.columns
      %select{name: "centro"}
        -(1..3).each do |r|
          %option centro


    .small-2.columns
      %label.filter Fecha de Término

    .small-2.columns
      .block_input_icon
        .icon.icons-sprite.icons-date_az
        %input.calendar{type: "text", name: "fecha_denuncia"}

    .small-1.columns
      %label.filter Profesional

    .small-3.columns
      %select{name: "Profesional"}
        -(1..3).each do |r|
          %option Profesional

    .small-1.columns
      %p

    .small-3.columns
      %p



  .row
    .small-12.large-12.columns
      %table.general_table
        %thead
          %tr
            %th.sort.desc{:width => "16%"} Causa
            %th.sort.desc{:width => "14%"} Nombre
            %th.sort.asc{:width => "14%"} Tipo de Delito
            %th.sort.desc{:width => "14%"} Fecha de ingreso
            %th.sort.asc{:width => "14%"} Tiempo de intervención
            %th.sort.asc{:width => "14%"} Estado Actual
            %th.sort.asc{:width => "14%"} Origen
        %tbody
          %tr
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
          %tr
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
          %tr
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...
            %td ...

    .small-12.large-12.columns.right
      %button Ingresar Caso

  =partial 'partials/paginate_table'