=partial 'partials/menu_logged'

.row
  =partial 'partials/menu_forms', locals: {select: "Derivar"}

.row
  .small-12.columns
    .title_box_blue FORMULATIO DE DERIVACIÓN: (Cierre Out)



%form{name: "form_derivacion", action: "#", method: "post"}
  .row.forms
    .subtitle 1.- Datos de Identificación del consultante

  .row.forms.box_gray
    .small-6.columns
      .text_info
        %span.black Nombres y apellidos:
        %span.blue Nombres y apellidos
      .text_info
        %span.black Cédula de identidad:
        %span.blue 11.111.111-1
      .text_info
        %span.black Fecha de nacimiento:
        %span.blue 12/12/1912
      .text_info
        %span.black Edad:
        %span.blue 32

    .small-6.columns
      .text_info
        %span.black Dirección:
        %span.blue Tobalaba 234, Providencia
      .text_info
        %span.black Teléfono Fijo:
        %span.blue 6344243
      .text_info
        %span.black Teléfono Móvil:
        %span.blue 73732632

  .row.forms
    .subtitle 2.- Institución receptora

    / Line Items
    .small-12.large-6.columns
      %label Nombre institución:
      %select{name: "institucion_receptora_nombre"}
        -(1..5).each do |i|
          %option Nombre Institución
    .small-12.large-6.columns
      %label ¿Cúal?:
      %input{type: "text", name: "institucion_receptora_cual"}

    / Line Items
    .small-12.large-12.columns
      %label Dirección:
      %input{type: "text", name: "institucion_receptora_direccion"}

    / Line items
    .small-12.large-6.columns
      %label Teléfono Fijo:
      .block_input_phone
        %label.pref +56
        %select{name: "home_phone_pref"}
          -(1..9).each do |i|
            %option=i
        %input.number{type: "text", name: "home_phone"}

    .small-12.large-6.columns
      %label Teléfono Móvil:
      .block_input_phone
        %select{name: "mobile_phone_pref"}
          -(1..9).each do |i|
            %option=i
        %input.number{type: "text", name: "mobile_phone"}

    / Line Items
    .small-12.large-12.columns
      %label Profesional de Contacto:
      %input{type: "text", name: "institucion_receptora_prof_contacto"}

    / Line Items
  .row.forms
    .subtitle 3.- Derivación
    .small-12.large-12.columns
      %label
      %input{checked: true, name: "derivacion", type: "radio", :value => "parcial"}
      %label Parcial
    .small-12.large-12.columns
      %input{checked: false, name: "derivacion", type: "radio", :value => "completa"}
      %label Completa

  .row.forms
    .subtitle 4.- Antecedentes Generales:
    .small-12.large-12.columns
      %textarea{rows: 6, name: "antecedentes_generales"} text...

  .row.forms
    .subtitle 5.- Presentación solicitada:
    .small-12.large-12.columns
      %textarea{rows: 6, name: "prestacion_solicitada"} text...



  .row.forms.box_gray
    .small-12.columns
      .text_info
        %span.black Nombres y apellidos:
        %span.blue Nombres y apellidos
    .small-4.columns
      .text_info
        %span.black Fecha ___ / ___ / ___
    .small-8.columns
      .text_info
        %span.black CAVD: _____________

  =partial 'partials/action_buttons'