=partial 'partials/menu_forms', locals: {select: "Detalle del Caso"}



%form{name: "form_ditacion_step_2", action: "#", method: "post"}

  .row.forms
    .small-3.columns
      .box_gray
        .item
          Estado:
          %span.green Activo
      .box_gray
        .item Nombre: Nombre Usuario
        .item Delito: Robo con intimidación
      .box_gray
        .item Tiempo de intervención: 11 días
        .item Citaciones realizadas: 3
        .item Citaciones cumplidas: 4
      .box_gray
        .item Fecha de ingreso: 17/11/2012

    .small-9.columns

      .box_items.blue
        .item Citaciones:
      .box_items
        .item 4-28 de octubre de 2014 - 17:00 hrs
        .icons.icons-agendado
      .box_items
        .item 4-28 de octubre de 2014 - 17:00 hrs
        .icons.icons-ok
      .box_items
        .item 4-28 de octubre de 2014 - 17:00 hrs
        .icons.icons-no_asistio


      .box_items.blue.top
        .item Intervención Psicológica:
      .box_items
        .item Objetivo
      .box_items
        .item Objetivo
      .box_items
        .item Objetivo

      .box_items.blue.top
        .item Intervención Psuiquiátrica:
      .box_items
        .item Objetivo
      .box_items
        .item Objetivo




  =partial 'partials/action_buttons'