=partial 'partials/menu_logged'

.row
  =partial 'partials/menu_forms', locals: {select: "SAR"}

.row
  .small-4.large-4.columns
    .title_box_blue FORMULATIO DE INGRESO A SAR

  .small-3.large-3.columns.right
    .title_box_gray
      %span Fecha:
      07/11/2014

  .small-5.large-5.columns.right
    .title_box_gray
      %span Nº de Expediente:
      123424

.row.forms
  .step 1.- Datos Personales

  .small-12.large-6.columns
    %label Nombres:
    %input{type: "text", name: "name", placeholder: "Nombre"}

  .small-12.large-6.columns
    %label Apellidos:
    %input{type: "text", name: "lastname", placeholder: "Apellido"}

  .small-12.large-6.columns
    %label Nacionalidad:
    %select{name: "country"}
      %option Chileno
      %option Argentino

  .small-12.large-6.columns
    %label ¿?:
    %input{type: "text", name: "...", placeholder: "..."}

  .small-12.large-6.columns
    %input{checked: true, name: "ident", type: "radio", :value => "rut"}
    %label.inline Rut
    %input{checked: false, name: "ident", type: "radio", :value => "passport"}
    %label.inline Pasaporte


  .small-12.large-6.columns
    %input{type: "text", name: "ident_number"}

