=partial 'partials/menu_forms', locals: {select: "Intervención Especial"}


%section#intevencion_especial
  %form{name: "form_intervencion_2", action: "#", method: "post"}

    .row.forms
      .small-4.columns
        .box_gray
          .item Fecha: 17/01/2014
          .item Nombre: Nombre Usuario
          .item Rut/Pasaporte: 11.111.111-1
          .item Nacionalidad: Chileno
          .item Dirección:
          .item Comuna:
          .item Ocupación:
          .item Delito: Robo con intimidación
          .item Ingreso CAVD:

      .small-8.columns
        .row.box_items.blue
          .small-12.columns.item Intervención Psicológica:
        .row.box_items.dark_gray
          .small-8.columns Objetivos
          .small-4.columns
            %a{href: "#"}
              Agregar Objetivos
        .row.box_items
          .small-12.columns Titulo Objetivo


        .row.box_items.dark_gray
          .small-9.columns Objetivos
          .small-3.columns Visado
        .row.box_items
          .small-9.columns Informe psicológico de la víctima
          .small-3.columns
            %input{type: "checkbox", name: "informe_psicologico", value: true, checked: true}

        .row.box_items
          .small-9.columns Informe técnico social
          .small-3.columns
            %input{type: "checkbox", name: "informe_psicologico", value: true, checked: false}

      .row
        .small-12.columns.to_right
          %button Adjuntar Archivos

