=partial 'partials/menu_forms', locals: {select: "Intervención Especial"}

.content_form
  .row
  .small-12.columns
    .title_box_blue FORMULARIO INTERVENCION
%form{name: "form_intervencion", action: "#", method: "post"}
  .row.forms.box_gray
    .small-6.columns
      .text_info
        %span.black Fecha:
        %span.blue 12/12/1912
      .text_info
        %span.black Nombres y apellidos:
        %span.blue Nombres y apellidos
      .text_info
        %span.black Delito:
        %span.blue Delito
      .text_info
        %span.black Citaciones realizadas:
        %span.blue 6
      .text_info
        %span.black Fecha de asistencias:
        %span.blue 09/09/1999


    .small-6.columns
      .text_info
        %span.black Nº expediente:
        %span.blue 1312432
      .text_info
        %span.black Tiempo de intervención
        %span.blue 6 meses
      .text_info
        %span.black Citaciones Cumplidas:
        %span.blue 6
      .text_info
        %span.black Hora:
        %span.blue 17:00




    / Line Items
  .row.forms
    .subtitle Asiste
    .small-12.large-12.columns
      %label
      %input{checked: true, name: "asiste", type: "radio", :value => "si"}
      %label Si
    .small-12.large-12.columns
      %input{checked: false, name: "asiste", type: "radio", :value => "no"}
      %label No

    / Line Items
  .row.forms
    .subtitle Objetivos a tratar
    .small-2.large-2.columns
      .nombre_objetivo Objetivo 1
    .small-10.large-10.columns
      .nombre_objetivo Detalle objetivo 1

    .small-2.large-2.columns
      .nombre_objetivo Objetivo 2
    .small-10.large-10.columns
      .nombre_objetivo Detalle objetivo 2

  .row.forms
    .small-12.large-12.columns
      .subtitle Objetivos de la sesión:
      %textarea{rows: 6, name: "demanda_necesidad"} text...

    .small-12.large-12.columns
      .subtitle Cargar documentos
      %button Examinar

    / Line Items
  .row.forms
    .subtitle Requiere visado
    .small-12.large-12.columns
      %label
      %input{checked: true, name: "visado", type: "radio", :value => "si"}
      %label Si
    .small-12.large-12.columns
      %input{checked: false, name: "visado", type: "radio", :value => "no"}
      %label No
  =partial 'partials/action_buttons'

  .row.forms
    .small-4.columns
      .box_gray
        .item Fecha: 17/01/2014
        .item Nombre: Nombre Usuario
        .item Rut/Pasaporte: 11.111.111-1
        .item Nacionalidad: Chileno
        .item Dirección:
        .item Comuna:
        .item Ocupación:
        .item Delito: Robo con intimidación
        .item Ingreso CAVD:

    .small-8.columns
      #accordion
        .box_items.blue Inervención Psicológica
        %div=partial 'form_intervencion_1'
        .box_items.blue  Intervención Psiquiátrica
        %div=partial 'form_intervencion_2'
        .box_items.blue  Intervención Social
        %div=partial 'form_intervencion_3'
        .box_items.blue  Intervención Jurídica
        %div=partial 'form_intervencion_4'

:javascript
  $(document).ready(function(){
    $( "#accordion" ).accordion({
      heightStyle: "content",
      collapsible: true
    });
  })