=partial 'partials/menu_logged'

.row
  =partial 'partials/menu_forms', locals: {select: "Citación"}


%section#intevencion_especial
  %form{name: "form_intervencion_5", action: "#", method: "post"}

    .row.forms
      .small-4.columns
        .box_gray
          .item Fecha: 17/01/2014
          .item Nombre: Nombre Usuario
          .item Rut/Pasaporte: 11.111.111-1
          .item Nacionalidad: Chileno
          .item Dirección:
          .item Comuna:
          .item Ocupación:
          .item Delito: Robo con intimidación
          .item Ingreso CAVD:

      .small-8.columns
        .row.box_items.blue
          .small-12.columns.item Intervención Psicológica:
        .row.box_items.blue
          .small-12.columns.item Intervención Psiquiátrica:
        .row.box_items.blue
          .small-12.columns.item Intervención Social:
        .row.box_items.blue
          .small-12.columns.item Intervención Jurídica:


