-pages = ["login", "cases", "cases_filter", "form_sar", "form_evaluacion_integral", "form_derivacion", "form_egreso", "form_intervencion_breve", "form_intervencion","form_intervencion_2","form_intervencion_3","form_intervencion_4","form_intervencion_5","form_intervencion_6", "form_cierre", "form_mantenedor_usuarios", "form_citacion_step_1","form_citacion_step_2", "form_detalle_caso"]

-pages.each do |p|
  %li
    %a{href: "#{p}.html"}=p